<h1>Cats index</h1>

<ul>  
   <% @cats.each do |cat| %>
        <li>
            <a href="<%= cat_url(cat) %>"><%= cat.name %></a>  
            <form action="<%= cat_url(cat) %>" method="POST"> 
                <input type="hidden" name="_method" value="DELETE"> 

                <input type="submit" value="Destroy Cat!">
            </form>

        </li> 
    <% end %>
</ul> 

<a href="<%= new_cat_url %>">New Cat</a>